:root {
  --bg-color-primary: #202020;
  --bg-color-secondary: rgba(48, 48, 48, 0.97);
  --text-color: #f8f8f8;
}

body {
  background-color: var(--bg-color-primary);
  font-family: 'Roboto', sans-serif;
}

/* Mise en page du template */
.animalert_title {
  width: 96%;
  margin: 0 2% 3% 2%;
}
.paw1 {
  top: 20%;
  left: 6%;
}
.paw2 {
  top: 50%;
  right: 6%;
}
.icon {
  height: 40px;
  width: auto;
  bottom: 5%;
}
.profile {
  left: 8%
}
.home {
  left: 50%;
  transform: translateX(-50%);
}
.search {
  right: 8%;
}

/* Classes génériques */
.absolute {
  position: absolute;
}
.onclick:active {
  box-shadow: 0px 0px 0px;
  transform: translate(calc(-50% + 4px), 4px);
}
.btn_confirm {
  background-color: #2870ef;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
  font-size: 1.3em;
  color: var(--text-color);
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.link {
  margin: 0;
  bottom: 3%;
  right: 6%;
  text-decoration: underline;
}

/* Mise en page des modales */
dialog {
  background-color: var(--bg-color-secondary);
  border: none;
  border-radius: 20px;
  width: 75%;
  height: 68%;
  h1, label, input, p {
    color: var(--text-color);
  }
}
h1 {
  text-align: center;
  margin: 5px 0px 50px;
}
label {
  font-size: 1.2em;
  margin-top: 50px;
}
input {
  background-color: var(--bg-color-primary);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  width: 98%;
  height: 40px;
  margin: 15px 0px;
}

/* Page d'accueil */
.btn_report {
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: none;
  z-index: 1;
  height: 15%;
  width: 60%;
  font-size: 2.5em;
  font-weight: bold;
  color: var(--text-color);
  left: 50%;
  transform: translateX(-50%);
}
#btn_lost {
  top: 26%;
  background-color: #fc3b2c;
}
#btn_found {
  top: 56%;
  background-color: #029c30;
}