body {
  background-color: #202020;
}

.animalert_title {
  width: 100%;
}

.absolute {
  position: absolute;
}

.paw1 {
  /* z-index: -1; */
  top: 20%;
  left: 6%;
}

.paw2 {
  /* z-index: -1; */
  top: 50%;
  right: 6%;
}

.profile {
  height: 6%;
  width: auto;
  bottom: 5%;
  left: 8%
}

.home {
  height: 6%;
  width: auto;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  height: 6%;
  width: auto;
  bottom: 5%;
  right: 8%;
}

.report {
  z-index: 1;
  height: 15%;
  width: 60%;
  font-size: 2.5em;
  font-weight: bold;
  font-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

.report:active {
  box-shadow: 0px 0px 0px;
  transform: translate(-49%, 4px);
}

#lost {
  top: 26%;
  background-color: #fc3b2c;
}

#found {
  top: 56%;
  background-color: #029c30;
}